.pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
  }
  
  .pdf-button {
    padding: 20px 20px;
    font-size: 1.2rem;
  }
  
  .pdf-viewer {
    width: 100%;
    height: 80vh;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:scroll;
    gap:5vw;
  }
  